@model Medik.Models.MedDocumentation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedDocumentation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartIllness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartIllness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndIllness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndIllness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.Patient.FirstName) *@
            @Model.Patient?.FirstName @Model.Patient?.LastName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info">Edit</a> |
    <a asp-action="Details" asp-controller="Patient" asp-route-id="@ViewBag.Patient?.Id" class="btn btn-secondary mt-3">Back to Patient</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<div class="circle"></div>
